In [5]:
from weights import *
from db_functions import *
import numpy as np

In [12]:
request_frame = {'article_id': [1011,1019,1022],
        'duration': [120,300,50]
        }

In [7]:
local_id = get_local_id(request_frame['article_id'])

MySQL connection is closed

In [8]:
local_id

   local_id
0         0
1         1
2         4

In [9]:
# GET MAGNITUDE
# GET THETA
# GET EUCLIDEAN

In [26]:
def get_angles_query():
    sql = """
    SELECT * FROM `recen_theta_content` 
    WHERE local_id IN (%s)
    """
    return sql

def get_vector_magnitude_query():
    sql = """ SELECT * FROM `recen_magnitude_content` """
    return sql


def get_euclidean_distance_query():
    sql = """
    SELECT * FROM `recen_distance_content` WHERE local_id in (%s)
    """
    return sql

In [21]:
def get_vector_magnitude():
    
    conn = pymysql.connect(**connection_properties)
    cursor = conn.cursor()
    sql = get_vector_magnitude_query()
    
    try:
        df = pd.read_sql(sql, conn)
        
        if(conn.open):
           conn.close()
           print("MySQL connection is closed")

        return df

    except Exception as e :
        print ("Error while connecting to MySQL", e)

In [28]:
def get_angles(local_id):
    id_string = ''
    for index, row in local_id.iterrows():
        if index > 0:
            id_string += ', '
        id_string += str(row['local_id'])

    conn = pymysql.connect(**connection_properties)
    cursor = conn.cursor()
    sql = get_angles_query() % id_string
    
    try:
        df = pd.read_sql(sql, conn)
        
        if(conn.open):
           conn.close()
           print("MySQL connection is closed")

        return df

    except Exception as e :
        print ("Error while connecting to MySQL", e)

In [29]:
def get_euclidean_distance(local_id):
    id_string = ''
    for index, row in local_id.iterrows():
        if index > 0:
            id_string += ', '
        id_string += str(row['local_id'])

    conn = pymysql.connect(**connection_properties)
    cursor = conn.cursor()
    sql = get_euclidean_distance_query() % id_string
    
    try:
        df = pd.read_sql(sql, conn)
        
        if(conn.open):
           conn.close()
           print("MySQL connection is closed")

        return df

    except Exception as e :
        print ("Error while connecting to MySQL", e)

In [72]:
angles = get_angles(local_id)
vector_magnitude = get_vector_magnitude()
euclidean_distance = get_euclidean_distance(local_id)

MySQL connection is closed
MySQL connection is closed
MySQL connection is closed

In [73]:
euclidean_distance

   local_id                                           distance
0         0  {"0": 0, "1": 137.8697485665, "2": 137.0264865...
1         1  {"0": 137.8697485665, "1": 0, "2": 81.25884898...
2         4  {"0": 135.7676166219, "1": 80.9898603678, "2":...

In [75]:
type(euclidean_distance)

pandas.core.frame.DataFrame

In [71]:
euclidean_distance.shape

(3, 3)

In [81]:
distances = euclidean_distance['distance'].apply(lambda row: pd.read_json(row, typ = 'list'))

In [82]:
distances.shape

(3, 410)

In [84]:
magnitudes = vector_magnitude['magnitude'].apply(lambda row: pd.read_json(row, typ = 'list'))

In [ ]:
p = pairwise_distances(euclidean_distance['distance'].apply(lambda row: pd.read_json(row, typ = 'list')), metric='manhattan')

In [86]:
magnitudes.shape

(410, 1)

In [ ]:
def get_euclidean_distance(local_id)

In [ ]:
def get_ts_ss_similarity(article_id):

In [ ]:
def get_triangle_similarity(magnitude, angles):

In [33]:
import numpy as np
from sklearn.metrics import pairwise_distances
from sklearn.metrics.pairwise import pairwise_kernels

X = np.array([[2, 3], [3, 5], [5, 8]])
Y = np.array([[1, 0], [2, 1]])

In [34]:
X

array([[2, 3],
       [3, 5],
       [5, 8]])

In [35]:
Y

array([[1, 0],
       [2, 1]])

In [36]:
pairwise_distances(Y, Y, metric='manhattan')

array([[0., 2.],
       [2., 0.]])

In [37]:
pairwise_distances(X, X, metric='manhattan')

array([[0., 3., 8.],
       [3., 0., 5.],
       [8., 5., 0.]])

In [32]:

pairwise_distances(X, Y, metric='manhattan')



pairwise_distances(X, metric='manhattan')



pairwise_kernels(X, Y, metric='linear')

array([[ 2.,  7.],
       [ 3., 11.],
       [ 5., 18.]])

In [59]:
p = np.array([[1,2,5], [2,3,4], [1,2,9]])
p

array([[1, 2, 5],
       [2, 3, 4],
       [1, 2, 9]])

In [60]:
p.shape

(3, 3)

In [61]:
pairwise_distances(p, metric='manhattan')

array([[0., 3., 4.],
       [3., 0., 7.],
       [4., 7., 0.]])

In [62]:
pairwise_kernels(p, metric='linear')

array([[30., 28., 50.],
       [28., 29., 44.],
       [50., 44., 86.]])

In [66]:
Y

array([[1, 0],
       [2, 1]])

In [64]:
np.square(Y)

array([[1, 0],
       [4, 1]])